<p style="color: green"><%= notice %></p>

<% content_for :title, "Systems" %>

<h1>Systems</h1>

<div id="systems">
  <% @systems.each do |system| %>
    <%= render system %>
    <p>
      <%= link_to "Show this system", system %>
    </p>
  <% end %>
</div>

<%= link_to "New system", new_system_path %>
