<%# layouts/_flash.html.erb %>
<div class="alert <%= bootstrap_class_for(type) %> alert-dismissible fade show w-50 mx-auto" role="alert">
  <%= message %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
